<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">Value Set</th>
			  <th width="40%">Purpose</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td><a href="ValueSet-weightMeasurementDeviceVS.html">Weight Measurement Device value set</a></td>
			  <td>This value set contains concepts used to result the type of instrument used to measure a body weight, referencing the LOINC term "XXX" (need LOINC).</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-AssociatedSituationVS.html">Associated Situation value set</a></td>
			  <td>This value set contains concepts used to result the amount of clothing worn during the measure, referencing the SNOMED Code 248159006 "State of dress (observable entity)" and the LOINC term "Clothing worn during measure” 8352-7.</td>
			</tr>
		</tbody>
	</table>
</div>
