<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">Value Set</th>
			  <th width="40%">Purpose</th>
			  <th width="20%">VSAC OID</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td>Weight Measurement Device Refset</td>
			  <td>This reference set contains concepts used to result the type of instrument used to measure a body weight, referencing the LOINC term "XXX" (need LOINC).</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.49/expansion/Latest">2.16.840.1.113762.1.4.1181.49</a></td>
			</tr>
			<tr>
			  <td>Clothing Worn During Measure reference set</td>
			  <td>This reference set contains concepts used to result the amount of clothing worn during the measure, referencing the SNOMED Code 248159006 "State of dress (observable entity)" and the LOINC term "Clothing worn during measure” 8352-7.</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.26/expansion/Latest">2.16.840.1.113762.1.4.1181.26</a></td>
			</tr> 
			<tr>
			  <td>Weight precondition reference set</td>
			  <td>Weight precondition values are used when the patient has something attached to their body, such as a cast, prosthesis, or oxygen that may change the patients weight prior to the weight measurement.</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.25/expansion/Latest">2.16.840.1.113762.1.4.1181.25</a></td>
			</tr> 
		</tbody>
	</table>
</div>
