<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">Value Set</th>
			  <th width="40%">Purpose</th>
			  <th width="20%">VSAC OID</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td>Body Height Measurement Device Refset</td>
			  <td>This reference set is used to result LOINC code 41910-1 "Type of Height device"</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.28/expansion/Latest">2.16.840.1.113762.1.4.1181.28</a></td>
			</tr>
			<tr>
			  <td>Body Position Refset</td>
			  <td>This reference set contains concepts used to result the patient's body position, referencing the SNOMED Code 397155001 Body position (observable entity) and the LOINC term "Body position with respect to gravity" 8361-8.</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/expansions?pr=all&rel=Latest&q=2.16.840.1.113762.1.4.1181.38">2.16.840.1.113762.1.4.1181.38</a></td>
			</tr>
		</tbody>
	</table>
</div>
