<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">Value Set</th>
			  <th width="40%">Purpose</th>
			  <th width="20%">VSAC OID</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td>Body Temperature Measurement Method and Device Refset</td>
			  <td>Body temperature is taken, and the user records measurement method or instrument used to evaluate the temperature. It combines method and device values because they often overlap in EHR documentation systems.</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.35/expansion/Latest">2.16.840.1.113762.1.4.1181.35</a></td>
			</tr>
			<tr>
			  <td>Body Temperature Measurement Site Refset</td>
			  <td>This reference set a constrained list body location values used to result the body location where a body temperature was measured, referencing the SNOMED Code 1520000000000 "Body temperature measurement site (observable entity)" and the LOINC term "Body temperature measurement site", 8327-9.</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.44/expansion/Latest">2.16.840.1.113762.1.4.1181.44</a></td>
			</tr> 
			<tr>
			  <td>Exercise Association Reference Set</td>
			  <td>The purpose of the reference set is to document exercise associated with a measurement. Resulting LOINC code 74008-4 "Exercise intensity".</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.36/expansion/Latest">2.16.840.1.113762.1.4.1181.36</a></td>
			</tr> 
		</tbody>
	</table>
</div>
