<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">Value Set</th>
			  <th width="40%">Purpose</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td><a href="ValueSet-bodyTempMeasurementDeviceVS.html">Body Temperature Measurement Device value set</a></td>
			  <td>Body temperature is taken, and the user records measurement method or instrument used to evaluate the temperature. It combines method and device values because they often overlap in EHR documentation systems.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-bodyTempMeasBodyLocationPrecoordVS.html">Body Temperature Measurement Site value set</a></td>
			  <td>This value set a constrained list of body location values used to result the body location where a body temperature was measured, referencing the SNOMED Code 1520000000000 "Body temperature measurement site (observable entity)" and the LOINC term "Body temperature measurement site", 8327-9.</td>
			</tr> 
		</tbody>
	</table>
</div>
