<div>
	<h4>2.  Blood Pressure taken with an adult size cuff via left brachial artery</h4>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">FHIR resource path</th>
			  <th width="40%">Text Description</th>
			  <th width="20%">Code</th>
			  <th width="20%">Terminology</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td>Observation.code</td>
			  <td>Blood Pressure Panel with all children optional</td>
			  <td>85354-9</td>
			  <td>LOINC</td>
			</tr>
			<tr>
			  <td>Observation.component.code</td>
			  <td>Systolic blood pressure</td>
			  <td>8480-6</td>
			  <td>LOINC</td>
			</tr>
			<tr>
			  <td colspan="4">Cuff size bindings</td>
			</tr>
			<tr>
			  <td rowspan="2">MeasurementDeviceExt.code value sets</td>
			  <td>Blood Pressure device cuff size reference set (foundation metadata concept)</td>
			  <td>1481000205107</td>
			  <td>SNOMED CT Solor extension</td>
			</tr>
			<tr>
			  <td>Blood pressure device cuff size reference set</td>
			  <td>2.16.840.1.113762.1.4.1181.41</td>
			  <td>VSAC</td>
			</tr>
			<tr>
			  <td>MeasurementDeviceExt.value</td>
			  <td>Blood pressure cuff, adult size large</td>
			  <td>720738005</td>
			  <td>SNOMED CT</td>
			</tr>
			<tr>
			  <td colspan="4">Body Site bindings</td>
			</tr>
			<tr>
			  <td>Observation.bodySite</td>
			  <td>Body location qualifier</td>
			  <td>39112-8</td>
			  <td>LOINC</td>
			</tr>
			<tr>
			  <td rowspan="2">bodySite value sets</td>
			  <td>Blood pressure measurement site reference set (foundation metadata concept)</td>
			  <td>901000205107</td>
			  <td>SNOMED CT Solor extension</td>
			</tr>
			<tr>
			  <td>Blood pressure measurement site reference set</td>
			  <td>2.16.840.1.113762.1.4.1181.43</td>
			  <td>VSAC</td>
			</tr>
			<tr>
			  <td>bodySite.value</td>
			  <td>Structure of left brachial artery (body structure)</td>
			  <td>723961002</td>
			  <td>SNOMED CT</td>
			</tr>
		</tbody>
	</table>
</div>
