<div>
	<h4>2.  Blood Pressure taken with an adult size cuff via left brachial artery</h4>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">FHIR resource path</th>
			  <th width="40%">Text Description</th>
			  <th width="20%">Code</th>
			  <th width="20%">Terminology</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td>Observation.code</td>
			  <td>Blood Pressure Panel with all children optional</td>
			  <td>85354-9</td>
			  <td>LOINC</td>
			</tr>
			<tr>
			  <td>Observation.component.code</td>
			  <td>Systolic blood pressure</td>
			  <td>8480-6</td>
			  <td>LOINC</td>
			</tr>
			<tr>
			  <td>Cuff size extension bindings</td>
			  <td></td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Observation.extension(cuffSizeExt) mapping</td>
			  <td>Blood Pressure device cuff size</td>
			  <td>8358-4</td>
			  <td>LOINC</td>
			</tr>
			<tr>
			  <td>cuffSizeExt.code value sets</td>
			  <td>Blood Pressure device cuff size reference set (foundation metadata concept) <br> Blood pressure device cuff size reference set</td>
			  <td>1481000205107 <br> 2.16.840.1.113762.1.4.1181.41</td>
			  <td>SNOMED CT Solor extension <br> VSAC</td>
			</tr>
			<tr>
			  <td>cuffSizeExt.value</td>
			  <td>Blood pressure cuff, adult size large</td>
			  <td>720738005</td>
			  <td>SNOMED CT</td>
			</tr>
			<tr>
			  <td>Body Site extension bindings</td>
			  <td></td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Observation.bodySite</td>
			  <td>Body location qualifier</td>
			  <td>39112-8</td>
			  <td>LOINC</td>
			</tr>
			<tr>
			  <td>bodySite value sets</td>
			  <td>Blood pressure measurement site reference set (foundation metadate concept) <br> Blood pressure measurement site reference set</td>
			  <td>901000205107 <br> 2.16.840.1.113762.1.4.1181.43</td>
			  <td>SNOMED CT Solor extension <br> VSAC</td>
			</tr>
			<tr>
			  <td>bodySite.value</td>
			  <td>Structure of left brachial artery (body structure)</td>
			  <td>723961002</td>
			  <td>SNOMED CT</td>
			</tr>
		</tbody>
	</table>
</div>
