<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">Value Set</th>
			  <th width="40%">Purpose</th>
			  <th width="20%">VSAC OID</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td><a href="ValueSet-bodyPositionVS.html">Body Position</a></td>
			  <td>This reference set contains concepts used to result the patient's body position, referencing the SNOMED Code 397155001 Body position (observable entity) and the LOINC term "Body position with respect to gravity" 8361-8.</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/expansions?pr=all&rel=Latest&q=2.16.840.1.113762.1.4.1181.38">2.16.840.1.113762.1.4.1181.38</a></td>
			</tr>
			<tr>
			  <td><a href="ValueSet-bpCuffSizeVS.html">Blood Pressure Device Cuff Size</a></td>
			  <td>This reference set contains concepts used to result the size of a blood pressure cuff used during a blood pressure measurement, referencing the SNOMED Code 722471002 "Size of blood pressure cuff (observable entity)" and the LOINC term "Blood pressure device Cuff size" 8358-4.</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.41/expansion/Latest">2.16.840.1.113762.1.41181.41</a></td>
			</tr>
			<tr>
			  <td><a href="ValueSet-bpMeasDeviceVS.html">Blood Pressure Device Type</a></td>
			  <td>This reference set contains concepts used to result the type of device used to measure a body blood pressure, referencing the SNOMED Code 23591000205102 “Blood pressure device type (observable entity)" and the LOINC term “Type of Blood pressure device” 41901-0.</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.21/expansion/Latest">2.16.840.1.113762.1.4.1181.21</a></td>
			</tr>
			<tr>
			  <td><a href="ValueSet-bpmeasbodylocationprecoord.html">Blood Pressure Measurement Site</a></td>
			  <td>This reference set contains a constrained list body location values used to result the body location where a blood pressure was measured, referencing the SNOMED Code 2281000205100 “Blood pressure measurement site (observable entity)” and the LOINC term "Blood pressure measurement site", 41904-4.</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.43/expansion/Latest">2.16.840.1.113762.1.4.1181.21</a></td>
			</tr>
			<tr>
			  <td><a href="ValueSet-bpMeasMethodVS.html">Blood Pressure Method</a></td>
			  <td>This reference set contains concepts used to result the method used for a blood pressure measurement, referencing the SNOMED Code 2291000205103 “Blood pressure method (observable entity)” and the LOINC term "Blood pressure method" 8357-6.</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.45/expansion/Latest">2.16.840.1.113762.1.4.1181.45</a></td>
			</tr>
			<tr>
			  <td><a href="ValueSet-bodySideVS.html">Body Side</a></td>
			  <td>This reference set contains concepts used to result the body side of a condition or measurement. This reference set is used to result LOINC code 20228-3 "Anatomic part Laterality".</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.30/expansion/Latest">2.16.840.1.113762.1.4.1181.45</a></td>
			</tr>
			<tr>
			  <td><a href="ValueSet-exertionPhaseVS.html">Exertion Phase Reference Set</a></td>
			  <td>The purpose of the reference set is to document exercise associated with a measurement. Resulting LOINC code 74008-4 "Exercise intensity".</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.36/expansion/Latest">2.16.840.1.113762.1.4.1181.36</a></td>
			</tr>
			<tr>
			  <td><a href="ValueSet-sleepStatusVS.html">Sleep Status</a></td>
			  <td>This reference set contains values used to indicate the state of wakefulness during measurement.</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.23/expansion/Latest">2.16.840.1.113762.1.4.1181.23</a></td>
			</tr>
			<tr>
			  <td><a href="ValueSet-vitalSignAssociatedPrecondVS.html">Vital Signs Associated Precondition</a></td>
			  <td>This reference set contains concepts to record particular states or conditions that may exist or need to exist while measuring vital signs.</td>
			  <td><i>This reference set is not yet in VSAC</i></td>
			</tr>  
		</tbody>
	</table>
</div>
