<div>
<p>This guide references the following extensions.</p>
<p>
<a href="StructureDefinition-AssociatedSituationExt.html">Associated Situation</a><br/>
<a href="StructureDefinition-BloodPressureCuffSizeExt.html">Blood Pressure Cuff Size</a><br/>
<a href="StructureDefinition-BodyPositionExt.html">Body Position</a><br/>
<a href="StructureDefinition-ExerciseAssociationExt.html">Exercise Association</a><br/>
<a href="StructureDefinition-MeasurementProtocolExt.html">Measurement Protocol</a><br/>
<a href="StructureDefinition-MeasurementSettingExt.html">Measurement Setting</a><br/>
<a href="StructureDefinition-SensorDescriptionExt.html">Sensor Description</a><br/>
<a href="StructureDefinition-SleepStatusExt.html">Sleep Status</a><br/>
</p>
</div>
