<div>
	<h4>1.	Heart rate measured using radial artery palpation.</h4>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">FHIR resource path</th>
			  <th width="40%">Text Description</th>
			  <th width="20%">Code</th>
			  <th width="20%">Terminology</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td>Observation.code</td>
			  <td>Heart Rate</td>
			  <td>9179-1</td>
			  <td>LOINC</td>
			</tr>
			<tr>
			  <td rowspan="2">Observation.method <br> <i>Heart Rate Measurement Method value set</i></td>
			  <td>Heart rate measurement method refernce set (foundation metadata concept)</td>
			  <td>23901000205104</td>
			  <td>SNOMED CT Solor extension</td>
			</tr>
			<tr>
			  <td>Heart rate measurement method reference set</td>
			  <td>2.16.840.1.113762.1.4.1181.29</td>
			  <td>VSAC</td>
			</tr>
			<tr>
			  <td>Observation.method.value</td>
			  <td>Palpation</td>
			  <td>113011001</td>
			  <td>SNOMED CT</td>
			</tr>
			<tr>
			  <td rowspan="2">Observation.bodySite <br> <i>Heart Rate Measurement Body Location Precoordinated value set</i></td>
			  <td>Heart Rate Measurement Body Location reference set (foundation metedata concept)</td>
			  <td>23871000205104</td>
			  <td>SNOMED CT Solor extension</td>
			</tr>
			<tr>
			  <td>Heart Rate Measurement Body Location reference set</td>
			  <td>2.16.840.1.113762.1.4.1181.29</td>
			  <td>VSAC</td>
			</tr>
			<tr>
			  <td>Observation.bodySite.value</td>
			  <td>Structure of radial artery (body structure)</td>
			  <td>45631007</td>
			  <td>SNOMED CT</td>
			</tr>
		</tbody>
	</table>
	<br>
	<h4>2.  Heart rate measurement during anesthesia</h4>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">FHIR resource path</th>
			  <th width="40%">Text Description</th>
			  <th width="20%">Code</th>
			  <th width="20%">Terminology</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td>Observation.code</td>
			  <td>Heart Rate</td>
			  <td>9279-1</td>
			  <td>LOINC</td>
			</tr>
			<tr>
			  <td colspan="4"><i>Associated Precondition extension bindings</i></td>
			</tr>
			<tr>
			  <td>Observation.extension(associatedPreconditionExt) mapping</td>
			  <td></td>
			  <td></td>
			  <td>LOINC</td>
			</tr>
			<tr>
			  <td rowspan="2">Observation.extension(associatedPrecondition) value set</td>
			  <td><i>need description</i></td>
			  <td><i>need Solor code</i></td>
			  <td>SNOMED CT Solor extension</td>
			</tr>
			<tr>
			  <td><i>need description</i>
			  <td><i>need VSAC OID</i>
			  <td>VSAC</td>
			</tr>
			<tr>
			  <td>Observation.extension(associatedPrecondition).value</td>
			  <td>During procedure</td>
			  <td>307154001</td>
			  <td>SNOMED CT</td>
			</tr>
		</tbody>
	</table>
</div>
