<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">Value Set</th>
			  <th width="40%">Purpose</th>
			  <th width="20%">VSAC OID</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td>Body Height Measurement Device Refset</td>
			  <td>This reference set is used to result LOINC code 41910-1 "Type of Height device"</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.28/expansion/Latest">2.16.840.1.113762.1.4.1181.28</a></td>
			</tr> 
		</tbody>
	</table>
</div>
