<div>
	<h4>1.	Height lying measured using tape measure.</h4>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">FHIR resource path</th>
			  <th width="40%">Text Description</th>
			  <th width="20%">Code</th>
			  <th width="20%">Terminology</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td>Observation.code</td>
			  <td>Body Height - lying</td>
			  <td>8306-3</td>
			  <td>LOINC</td>
			</tr>
			<tr>
			  <td><i>Body height measurement device extension bindings</i></td>
			  <td></td>
			  <td></td>
			  <td></td>
			</tr>
			<tr>
			  <td>Observation.extension(measurementDeviceExt) mapping</td>
			  <td>Type of Height device</td>
			  <td>41910-1</td>
			  <td>LOINC</td>
			</tr>
			<tr>
			  <td>Body height measurement device reference set</td>
			  <td>Body height measurement device reference set (foundation metadata concept) <br> Body height measurement device reference set</td>
			  <td>23891000205100 <br><br> 2.16.840.1.113762.1.4.1181.28</td>
			  <td>SNOMED CT Solor extension <br><br> VSAC</td>
			</tr>
			<tr>
			  <td>Observation.extension(measurementDeviceExt).value</td>
			  <td>Measuring tape</td>
			  <td>51791000</td>
			  <td>SNOMED CT</td>
			</tr>
		</tbody>
	</table>
</div>
