<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">Value Set</th>
			  <th width="40%">Purpose</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td><a href="ValueSet-heightLengthMeasDeviceVS.html">Body Height Measurement Device value set</a></td>
			  <td>This value set is used to result LOINC code 41910-1 "Type of Height device"</td>
			</tr> 
			<tr>
				<td><a href="ValueSet-heightBodyPositionVS.html">Body Height Body Position value set</a></td>
				<td>This value set is used to result the Body Position extension.</td>
			</tr>
			<tr>
				<td><a href="ValueSet-clothingWornDuringMeasureVS.html">Clothing Worn During Measure value set</a></td>
				<td>This value set is used to result the Clothing Worn During measure extension.</td>
			</tr>
			<tr>
				<td><a href="ValueSet-MeasSettingVS.html">Measurement Setting value set</a></td>
				<td>This value set is used to result the Measurement Setting extension.</td>
			</tr>
		</tbody>
	</table>
</div>
