<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">Value Set</th>
			  <th width="40%">Purpose</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td><a href="ValueSet-sensorDescriptionVS.html">Oxygen saturation sensor type reference set</a></td>
			  <td>This reference set contains the instrument used when an oxygen saturation is measured in arterial blood by pulse oximetry, referencing the LOINC term "Oxygen Saturation Sensor Type" 73803-9</td>
			</tr> 
			<tr>
			  <td><a href="ValueSet-sPO2BodyLocationVS.html">Oxygen Saturation Body Location value set</a></td>
			  <td>This reference set contains a constrained list body location values used to record the site where an oximeter was placed, and capillary oxygen saturation measured.</td>
			</tr>
			<tr>
				<td><a href="ValueSet-exertionPhaseVS.html">Exertion Phase value set</a></td>
				<td>This value set is used to result the Exercise Association extension.</td>
			</tr>
		</tbody>
	</table>
</div>
