<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">Value Set</th>
			  <th width="40%">Purpose</th>
			  <th width="20%">VSAC OID</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td>Oxygen saturation sensor type reference set</td>
			  <td>This reference set contains the instrument used when an oxygen saturation is measured in arterial blood by pulse oximetry, referencing the LOINC term "Oxygen Saturation Sensor Type" 73803-9</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.24/expansion/Latest">2.16.840.1.113762.1.4.1181.24</a></td>
			</tr> 
			<tr>
			  <td>Oxygen Saturation Body Location value set</td>
			  <td>This reference set contains a constrained list body location values used to record the site where an oximeter was placed, and capillary oxygen saturation measured.</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.27/expansion/Latest">2.16.840.1.113762.1.4.1181.27</a></td>
			</tr>
		</tbody>
	</table>
</div>
