<div>
	<h4>1.	Oxygen saturation measured with pulse oximeter probe.</h4>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">FHIR path and element binding</th>
			  <th width="40%">Text Description</th>
			  <th width="20%">Code</th>
			  <th width="20%">Terminology</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td>Observation.code</td>
			  <td>Oxygen saturation in Arterial blood</td>
			  <td>59408-5</td>
			  <td>LOINC</td>
			</tr>
			<tr>
			  <td colspan="4"><i>Sensor Description extension bindings</i></td>
			</tr>
			<tr>
			  <td>Observation.extension(sensorDescriptionExt).value</td>
			  <td>Pulse oximeter (physical object)</td>
			  <td>448703006</td>
			  <td>SNOMED CT</td>
			</tr>
		</tbody>
	</table>
</div>
