<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">Value Set</th>
			  <th width="40%">Purpose</th>
			  <th width="20%">VSAC OID</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td>Body Position Refset</td>
			  <td>This reference set contains concepts used to result the patient's body position, referencing the SNOMED Code 397155001 Body position (observable entity) and the LOINC term "Body position with respect to gravity" 8361-8.</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/expansions?pr=all&rel=Latest&q=2.16.840.1.113762.1.4.1181.38">2.16.840.1.113762.1.4.1181.38</a></td>
			</tr> 
			<tr>
			  <td>Respiratory Rate Measurement Device Refset</td>
			  <td>This reference set contains concepts used to result the type of device used to measure a heart rate, referencing the LOINC term "Type of Breath rate device" 9277-5.</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.34/expansion/Latest">2.16.840.1.113762.1.4.1181.34</a></td>
			</tr>
			<tr>
			  <td>Respiratory Rate Measurement Method</td>
			  <td>This reference set contains concepts used to result the method used for a respiratory   rate measurement, referencing the LOINC term "Breath rate method” 9275-9.</td>
			  <td><a href="https://vsac.nlm.nih.gov/valueset/2.16.840.1.113762.1.4.1181.31/expansion/Latest">2.16.840.1.113762.1.4.1181.31</a></td>
			</tr>
			<tr>
			  <td>Vital Signs Associated Precondition Refset</td>
			  <td><i>new</i></td>
			  <td><i>This reference set contains concepts to record particular states or conditions that may exist or need to exist while measuring vital signs.</i></td>
			</tr>
		</tbody>
	</table>
</div>
