<div>
	<table class="grid">
		<thead>
			<tr>
			  <th width="20%">Value Set</th>
			  <th width="40%">Purpose</th>
			</tr>
		</thead>
		<tbody>
			<tr>
			  <td><a href="ValueSet-bodyPositionVS.html">Body Position value set</a></td>
			  <td>This value set contains concepts used to result the patient's body position, referencing the SNOMED Code 397155001 Body position (observable entity) and the LOINC term "Body position with respect to gravity" 8361-8.</td>
			</tr> 
			<tr>
			  <td><a href="ValueSet-respiratoryRateMeasDeviceVS.html">Respiratory Rate Measurement Device value set</a></td>
			  <td>This value set contains concepts used to result the type of device used to measure a heart rate, referencing the LOINC term "Type of Breath rate device" 9277-5.</td>
			</tr>
			<tr>
			  <td><a href="ValueSet-respiratoryRateMeasMethodVS.html">Respiratory Rate Measurement Method</a></td>
			  <td>This value set contains concepts used to result the method used for a respiratory   rate measurement, referencing the LOINC term "Breath rate method” 9275-9.</td>
			</tr>
			<tr>
				<td><a href="ValueSet-exertionPhaseVS.html">Exertion Phase value set</a></td>
				<td>This values set is used to result the Exercise Association extension.</td>
			</tr>
			<tr>
				<td><a href="ValueSet-MeasSettingVS.html">Measurement Setting value set</a></td>
				<td>This value set is used to result the Measurement Setting extension.</td>
			</tr>
			<tr>
				<td><a href="ValueSet-abnIntNumericNomVS.html">Abnormal Interpretation Numeric Nominal value set</a></td>
				<td>This value set is used to result the interpretation backbone element.</td>
			</tr>
		</tbody>
	</table>
</div>
